:root {
  --blue: #458FF6;
  --white: #FFF;
  --p-regular-color: #7D7987;
  --h-regular: #000;
  --logo: #233348;
  --header-link: #1F1534;
  --linear-custom: linear-gradient(191.49deg, #67C3F3 9.05%, #5A98F2 76.74%);
  --linear-footer: linear-gradient(180.92deg, #67C3F3 -8.57%, #5A98F2 82.96%);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  max-width: 1600px;
  margin: auto;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

p {
  font-weight: 300;
}

a {
  text-decoration: none;
  white-space: nowrap;
}

.btn {
  font-size: 18px;
  font-weight: bold;
  padding: 20px 40px;
  border-radius: 55px;
  border: 1px solid var(--blue);
  max-width: 202px;
  width: 100%;
}

.btn-blue {
  background: var(--blue);
  color: var(--white);
}

.btn-transparent {
  background: transparent;
  color: var(--blue);
}

.header {
  position: fixed;
  width: 100%;
  height: 150px;
  z-index: 2;
  background: var(--white);
  padding: 55px 190px;
}

.header-wrap {
  max-width: 1215px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 175px 550px;
      grid-template-columns: 175px 550px;
  place-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo span {
  display: inline-block;
  position: relative;
  width: 41px;
  height: 41px;
  font-size: 26px;
  background: var(--blue);
  color: var(--white);
  border-radius: 50%;
  margin-right: 12px;
}

.logo span::before {
  position: absolute;
  content: "T";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.logo a {
  color: var(--logo);
  font-size: 24px;
  display: inline-block;
}

.header-nav-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (min-content)[5];
      grid-template-columns: repeat(5, -webkit-min-content);
      grid-template-columns: repeat(5, min-content);
  gap: 0 40px;
}

.header-nav-list__elem a {
  color: var(--header-link);
  opacity: 0.5;
}

.header-nav-list__elem.active-page a {
  opacity: 1;
  font-weight: bold;
}

main {
  margin-top: 150px;
}

.virtual-heathcare::before {
  content: url("../img/section1dots.svg");
  position: absolute;
}

.virtual-heathcare {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 440px 693px;
      grid-template-columns: 440px 693px;
  place-content: space-between;
  padding: 0 160px 0 190px;
  margin-bottom: 200px;
}

.virtual-heathcare__p {
  color: var(--p-regular-color);
  font-size: 21px;
}

.virtual-healthcare-wrap {
  margin-top: 100px;
}

.virtual-healthcare-wrap h1 {
  margin-bottom: 25px;
}

.virtual-healthcare-wrap p {
  margin-bottom: 45px;
}

.our-services {
  max-width: 1150px;
  margin: 0 auto;
}

.our-services-info {
  padding: 0 100px;
  text-align: center;
  position: relative;
  margin-bottom: 90px;
}

.our-services-info h2 {
  margin-bottom: 80px;
}

.our-services-info h2::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 56px;
  height: 2px;
  background: var(--h-regular);
}

.our-services-info__p {
  color: var(--p-regular-color);
}

.our-services-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 350px 350px 350px;
      grid-template-columns: 350px 350px 350px;
  -ms-grid-rows: 354px 354px;
      grid-template-rows: 354px 354px;
  grid-gap: 15px 15px;
  place-content: space-between;
  margin-bottom: 72px;
}

.our-services-card {
  border-radius: 20px;
  -webkit-box-shadow: 10px 20px 20px rgba(229, 233, 246, 0.4);
          box-shadow: 10px 20px 20px rgba(229, 233, 246, 0.4);
  padding: 50px 45px 50px 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 2fr;
      grid-template-rows: 1fr 2fr;
  place-content: center;
}

.our-services-card__img {
  display: block;
}

.our-services-card div {
  margin-top: 45px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.our-services-card h3 {
  margin-bottom: 15px;
}

.our-services-card__p {
  font-size: 16px;
  color: var(--p-regular-color);
}

.our-services {
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 120px;
}

.leading-and-download {
  padding: 0 130px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 670px 670px;
      grid-template-columns: 670px 670px;
  -ms-grid-rows: 500px 500px;
      grid-template-rows: 500px 500px;
  grid-row-gap: 230px;
  margin-bottom: 260px;
}

.ld-content__wrap {
  padding: 45px 100px;
}

.ld-content__wrap h2 {
  margin-bottom: 80px;
}

.ld-content__wrap .btn.btn-transparent {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.ld-content__p {
  color: var(--p-regular-color);
  margin-bottom: 40px;
}

.customers {
  color: var(--white);
}

.customers-wrap {
  padding: 0 240px;
}

.customers-article {
  background: var(--linear-custom);
  border-radius: 24px;
  margin-bottom: 40px;
}

.customers-article-wrap {
  padding: 70px 120px 95px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "head head head" "left . right";
  -ms-grid-columns: 4fr auto 4fr;
      grid-template-columns: 4fr auto 4fr;
}

.customers-article-wrap h2 {
  text-align: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: head;
  margin-bottom: 115px;
}

.customer-info {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customer-info__text {
  margin-left: 30px;
  margin-right: 5px;
}

.customer-br {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: right;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.customer-br__p {
  font-size: 16px;
}

.customer-nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 240px;
}

.arrow {
  opacity: 0.5;
}

.arrow.left {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.dots {
  margin: 0 90px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--blue);
  opacity: 0.5;
}

.active {
  opacity: 1;
}

.article__p {
  font-size: 16px;
}

.article__link {
  font-weight: 600;
  color: var(--blue);
}

.articles-card {
  -webkit-box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
          box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
}

.footer {
  height: 432px;
  background: var(--linear-footer);
  color: var(--white);
}

.footer__title {
  margin-bottom: 15px;
}

.footer a {
  color: var(--white);
  font-weight: 200;
}

.footer-wrap {
  padding: 115px 235px 130px 190px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (max-content)[4];
      grid-template-columns: repeat(4, -webkit-max-content);
      grid-template-columns: repeat(4, max-content);
  place-content: space-between;
}

.trafalgar {
  max-width: 380px;
}

.trafalgar .footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 18px;
}

.trafalgar .footer-logo h4 {
  font-size: 24px;
}

.trafalgar .footer-logo span {
  display: inline-block;
  position: relative;
  width: 41px;
  height: 41px;
  font-size: 26px;
  background: var(--white);
  color: #67C3F3;
  border-radius: 50%;
  margin-right: 12px;
}

.trafalgar .footer-logo span::before {
  position: absolute;
  content: "T";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.trafalgar__info {
  margin-bottom: 30px;
  font-weight: 200;
}

.trafalgar__copy {
  font-size: 16px;
}

.footer-list {
  display: -ms-grid;
  display: grid;
}
